@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .profile_wrapper {
    @apply flex flex-col justify-start gap-5;
  }
  .header_wrapper {
    @apply flex flex-row justify-between items-center;
  }
  .profile_btn {
    @apply h-12 w-12 !min-w-0 !bg-[#F2F2F2] shadow-md text-center
     flex justify-center items-center hover:shadow-xl m-auto;
  }
  .Form_wrap {
    @apply grid gap-4 grid-cols-[min-content_auto_auto]
    desktop:gap-4 desktop:grid-cols-[min-content_auto] desktop:mx-auto
    mid:!gap-4 mid:!grid-cols-[min-content_auto]
     medium:!gap-4 medium:!grid-cols-1 medium:!mx-auto;
  }
  .col {
    @apply flex flex-col justify-start gap-2 font-bold;
  }
  .col2 {
    @apply flex flex-col justify-between font-bold medium:gap-4;
  }
  .date_passage {
    @apply bg-[#FFFFFF] drop-shadow-[0px_1px_3px_rgba(0,0,0,0.161)] 
    w-full min-w-[300px] max-w-[400px] mobile:w-[300px] h-56 
    grid grid-flow-row grid-rows-[7] gap-0 rounded-md;
  }
  .checkbox {
    @apply flex flex-row justify-start gap-4 items-center font-normal;
  }
  .convention_buttons {
    @apply flex flex-row justify-between max-w-[400px] mobile:max-w-[300px];
  }
  .heure_passage {
    @apply flex flex-row font-normal justify-between px-2  even:bg-[rgba(242,242,242,0.4)];
  }
  .heure_passage input {
    @apply bg-transparent focus:outline-none;
  }
  .roles_wprapper {
    @apply flex flex-col justify-start gap-4 medium:max-w-[400px] medium:mx-auto desktop:mx-auto;
  }
  .role_wrap {
    @apply grid  gap-2 mobile:!grid-cols-1 medium:grid-cols-2 mid:grid-cols-3 
     large:grid-cols-5  desktop:grid-cols-4 large:max-w-[1000px] mid:max-w-[588px];
  }
}
